Source: kdamn
Section: net
Priority: optional
Maintainer: Cédric OCHS <kervala@gmail.com>
Build-Depends: debhelper (>= 9), cmake (>= 2.8), pkg-config,
 qtbase5-dev | libqt4-dev, qttools5-dev-tools | qt4-dev-tools, libqt5svg5-dev | libqt4-dev,
 libxmu-dev
Standards-Version: 3.9.3

Package: kdamn
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: deviantART Messaging Network client
 kdAmn is a multiplatform client for deviantART Messaging Network chat protocol.
 .
 Homepage: http://dev.kervala.net/projects/kdamn

Package: kdamn-dbg
Priority: extra
Section: debug
Architecture: any
Depends: ${misc:Depends}, kdamn (= ${binary:Version})
Description: deviantART Messaging Network client (debug)
 kdAmn is a multiplatform client for deviantART Messaging Network chat protocol.
 .
 Homepage: http://dev.kervala.net/projects/kdamn
