#!/usr/bin/make -f
%:
	dh $@ --buildsystem=cmake

override_dh_strip:
	dh_strip -pkdamn --dbg-package=kdman-dbg

override_dh_auto_configure:
	dh_auto_configure -- -DETC_PREFIX=/etc/kdamn -DWITH_WARNINGS=ON
